---
import { Image } from "astro:assets";

import photo1 from "../../public/photo_one.webp";
import photo2 from "../../public/photo_two.webp";
import photo3 from "../../public/photo_three.webp";
---

<div class="header">
  <div class="image_displayer">
    <Image src={photo1} alt="two models in black dresses" class="images image_one" />
    <Image src={photo2} alt="runway show" class="images image_two" />
    <Image src={photo3} alt="two modelss wearing dresses" class="images image_three" />
  </div>
  <div class="header_content">
    <h1 class="header_title">
      Explore The Atelier Gallery: Where Fashion Meets Art
    </h1>
    <p class="header_text">
      Discover exclusive fashion-inspired artworks from emerging and established
      designers. Curated exhibitions, limited-edition pieces, and a unique art
      experience await you.
    </p>
    <a href="" class="header_cta_link">Learn more</a>
  </div>
</div>

<script>
  import anime from "animejs";

  document.addEventListener("DOMContentLoaded", () => {
    anime({
      targets: ".image_one",
      opacity: [0, 1],
      duration: 10000,
      easing: "easeOutExpo",
      delay: 750,
    });
    anime({
      targets: ".image_two",
      scale: [
      {value: 1, duration: 0},
      {value: 1.025, duration: 100},
      {value: 1.05, duration: 100},
      {value: 1.075, duration: 100},
      {value: 1.1, duration: 100},
      ],
      opacity: [0, 1],
      duration: 3000,
      easing: "easeOutExpo",
      delay: 2000,
    });
    anime({
      targets: ".image_three",
      opacity: [0, 1],
      duration: 8000,
      easing: "easeOutExpo",
      delay: 1500,
    });
    anime({
      targets: ".header_title",
      opacity: [0, 1],
      duration: 10000,
      easing: "easeOutExpo",
      delay: 1000,
    });
    anime({
      targets: ".header_text",
      opacity: [0, 1],
      duration: 8000,
      easing: "easeOutExpo",
      delay: 2000,
    });
    anime({
      targets: ".header_cta_link",
      opacity: [0, 1],
      duration: 4000,
      easing: "easeOutExpo",
      delay: 3000,
    });
  });
</script>

<style>
  .header {
    margin: 4rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  .image_displayer {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .images {
    width: 280px;
    height: 100%;
  }

  .image_two{
    z-index: 100;
  }

  .header_content {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .header_title {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    color: #010101;
  }

  .header_text {
    font-family: "Karla", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    color: #7c7c7c;
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Karla", sans-serif;
    font-weight: 300;
    color: #010101;
    width: fit-content;
    margin: 1rem 0;
    text-transform: uppercase;
  }

  a:hover {
    font-weight: 800;
  }
</style>
