<div class="navbar">
  <div class="navbar_left_section">
    <a class="left_section_logo" href="">The Atelier Gallery</a>
  </div>
  <div class="navbar_right_section">
    <a class="right_section_anchorlink" href="">Home</a>
    <a class="right_section_anchorlink" href="">Exhibitions</a>
    <a class="right_section_anchorlink" href="">Designers</a>
    <a class="right_section_anchorlink" href="">Gallery</a>
    <a class="right_section_anchorlink" href="">About us</a>
    <a class="right_section_anchorlink" href="">Contact</a>
  </div>
</div>

<style>
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    font-family: "Karla", Helvetica, sans-serif;
    align-items: flex-end;
}

.left_section_logo{
    font-family: "Karla";
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: uppercase;
}

.navbar_right_section{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.right_section_anchorlink{
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
}

.right_section_anchorlink:hover{
    font-weight: 600;
    transition: 0.2s
}

a{
    text-decoration: none;
    color: #010101;
}

</style>
